@import '~bootstrap/scss/bootstrap';
@import url("https://use.typekit.net/uqi5muh.css");

// rgb(40,40,40)

$primary: rgb(145,142,113);
$secondary: rgb(168,168,144);
$tertiary:  rgb(44,39,32);

.primary {
    background-color: $primary;
    border-color: $primary;
}

.primary:hover, .primary:active {
    background-color: $secondary;
    border-color: $secondary;
}

button {
    border: none;
}

button:active, .button:active, .button:focus, button.primary.btn.btn-primary:focus {
    background-color: $secondary;
}

button.primary.btn-btn-primary:focus, .btn-primary:focus {
    box-shadow: #4d5a3942;
}

.dropdown-item:active {
    background-color: transparent;
}

body, #root {
    background-color: rgb(249,249,249);
    margin: 0% 1%;
}

ul, li {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    color: rgb(168,168,144);
    font-family: haboro-contrast-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6, p, button, input, nav, li, ul, link, .form-label {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(44,39,32);
}

img {
    max-width: 100%;
    max-height: 500px;
}

.museum-goer {
    max-width: 50%;
}

.random-historic-img-text {
    max-width: 500px;
}

.button-custom{
    border-radius: 20px;
}

.homepage-main {
    margin: 15% 5%;
    display: flex;
}

.create-form {
    background-color: $secondary;
    padding: 20px;
}

Link {
    text-decoration: none;
}
.random-art {
    padding-bottom: 2em;
}
.create-button {
    background-color: rgb(249,249,249);
    border: none;
    color: rgb(108,117,125);
}

.create-button:hover, .create-button:active, .create-button:focus, .create-button:focus-visible {
    background-color: rgb(249,249,249);
    border: none;
    color:rgb(62,58,49);
}

.homepage-graphics {
    max-width: 75px;
    border-radius: 45px;
}

.konvajs-content {
    background-color: white;
    border-radius: 5px;
}
sup {
    height: max-content;
}
nav {
    border-bottom: 1px solid #D9D2BE;
    margin-bottom: 1em;
}

html {
    height: 100vh;
}

.artwork-jsx {
    display: flex;
    justify-content: center;
}

.artwork-jsx-container {
    margin-bottom: 3em;
}

// Media Queries
@media only screen and (max-device-width: 1000px) {
    .homepage-main, h1 {
        font-size: 1.7em;
    }
}

@media only screen and (max-device-width: 600px) {
    .homepage-main, h1 {
        font-size: 1.6em;;
    }
}

@media only screen and (max-device-width: 600px) {
    .homepage-main, h1 {
        font-size: 1.5em;
        color: rgb(168,168,144);
        font-family: haboro-contrast-extended, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
    }

    .homepage-graphics {
        max-width: 50px;
        border-radius: 45px;
    }

    .artwork-jsx {
        display: block;
    }
}
